.detail-back {
	position: fixed;
	top: 16vw;
	left: 6vw;
	width: 5.3vw;
  	height: 4.5vw;
	background: #fff;
	z-index: 4;
}
.detail-weather {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vw;
	height: 60vw;
	z-index: 2;
}
.detail-position {
	position: absolute;
	width: 27vw;
	left: 5.8vw;
	top: 30vw;
	font: normal 700 8vw 'Alegreya Sans';
	color: #332821;
}
.detail-temp {
	position: absolute;
	width: 20vw;
	height: 30vw;
	left: 5vw;
	top: 60vw;
	font: normal 700 20vw 'Alegreya Sans';
	text-align: center;
	color: #332821;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
.detail-icon {
	font: normal 500 7vw 'Alegreya Sans';
  color: #332821;
	margin-top: -7vw;
}
.detail-list {
	width: 100%;
	height: 9vw;
	position: absolute;
	top: 87vw;
	left: 0;
	padding: 0 5vw;
	box-sizing: border-box;
}
.detail-tips {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.detail-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 9vw;
	padding: 0 2.6vw;
	border-radius: 4.5vw;
	font: normal 700 3.5vw 'Alegreya Sans';
}
.detail-image {
	width: 4vw;
	height: 4vw;
	margin-right: 2.4vw;
}
.detail-footer {
	position: absolute;
	top: 99vw;
	left: 0;
	width: 100vw;
  margin-bottom: 5vw;
}
.detail-today {
	width: 100vw;
	height: 38vw;
}
.detail-24hour {
	display: flex;
	flex-direction: row;
	padding: 0 5vw;
	width: 100%;
	overflow-x: scroll;
	box-sizing: border-box;
}
.detail-timeItem {
	min-width: 23vw;
	height: 29vw;
	background: #FFF;
	border-radius: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.detail-timeHour {
	font: normal 500 3vw 'Alegreya Sans';
	text-align: center;
	color: rgba(51, 40, 33, 0.5);
}
.detail-timeTemp {
	font: normal 700 9vw 'Alegreya Sans';
	margin: 0 0 1vw;
	text-align: center;
	color: #332821;
  display: flex;
  align-items: center;
}
.detail-timeIcon {
  font-size: 3.4vw;
  margin-top: -2vw;
}
.detail-daysItem {
	width: 100vw;
  height: 13vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 5vw;
  box-sizing: border-box;
}
.detail-daysImg {
  width: 13vw;
  height: 13vw;
}
.detail-daysTemp {
  font-size: 4.8vw;
  display: flex;
  align-items: center;
}
.detail-daysIcon {
  font-size: 2.6vw;
  margin-top: -2vw;
}
.detail-daysDay {
  font: normal 700 4.5vw 'Alegreya Sans';
  color: #332821;
}
@media only screen and (min-width: 650px) {
  .detail-daysDay {
    font-size: 32px;
  }
}



