ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  font-family: 'Alegreya Sans';
  background: linear-gradient(180deg, #E75481 -22.84%, #929CDE 113.36%);
}
.content {
  position: relative;
  width: 61vw;
  height: 66vw;
  border-radius: 30px;
  background: #fff;
  margin-top: 50px;
}
.weatherLogo {
  width: 55vw;
  height: 55vw;
  margin: -30vw 0 0 2vw;
}
.position {
  text-align: center;
  font: normal 700 5vw 'Alegreya Sans';
  color: #332821;
  margin-top: -5vw;
}
.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw 4.5vw 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.temperature {
  display: flex;
  align-items: flex-start;
  font: normal 700 13vw 'Alegreya Sans';
  color: #332821;
}
.date {
  font: normal 500 3.7vw 'Alegreya Sans';
  color: rgba(51, 40, 33, 0.5);
}
.icon {
  font: normal 500 4vw 'Alegreya Sans';
  color: #332821;
  margin-top: 4vw;
}
.desc1 {
  width: 19vw;
  height: 4vw;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.6vw;
  font-weight: 500;
  border-radius: 2vw;
  background: rgba(212, 66, 111, 0.5);
}
.desc2 {
  align-self: flex-end;
  width: 13vw;
  margin-top: 1vw;
  background: rgba(106, 117, 186, 0.5);
}
.detail {
  width: 43vw;
  height: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5E4FC1;
  border-radius: 18px;
  font: normal 700 4vw 'Alegreya Sans';
  color: #FFF;
  margin: 4vw auto 0;
}
.tips {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 4vw 0 0;
  padding: 0;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  font-size: 4vw;
}
.icon {
  width: 4.5vw;
  height: 4.5vw;
  margin-right: 4vw;
}
.temIcon {
  transform: scale(1.5);
}
.tip {
  text-align: right;
  width: 18vw;
}
@media only screen and (min-width: 550px) {
  .content {
    width: 400px;
    height: 400px;
  }
  .weatherLogo {
    width: 380px;
    height: 380px;
    margin-top: -210px;
  }
  .position {
    font-size: 32px;
    margin-top: -60px;
  }
  .description {
    padding: 32px 29px 0;
  }
  .detail {
    width: 280px;
    height: 78px;
    margin-top: 26px;
    font-size: 26px;
  }
  .temperature {
    font-size: 78px;
  }
  .desc1 {
    width: 123px;
    height: 26px;
    font-size: 13px;
  }
  .desc2 {
    width: 84px;
  }
  .tips {
    margin-top: 28px;
  }
  .item {
    font-size: 24px;
  }
  .icon {
    width: 20px;
    height: 20px;
  }
  .tip {
    width: 117px;
  }
  .icon {
    margin: 26px 26px 0 0;
    font-size: 26px;
  }
  .date {
    font-size: 24px;
  }
}
